.places {
    margin: 51px 0px;
    display: grid;
    gap: 20px 17px;
    color: #000;
    grid-template-columns: repeat(3, 1fr);
}

.places__card {
    width: 282px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    
}

.places__image-container {
    position: relative;
}

.places__delete {
    width: 18px;
    height: 19.3px;
    position: absolute;
    top: 18px;
    right: 15px;
    border: 0px;
    background-image: url("../images/Trash.svg");
    background-color: rgba(0,0,0,0);
    transition: opacity 0.15s ease-in;
    cursor: pointer;
}

.places__delete:hover {
    opacity: 60%;
}

.places__image {
    width: 282px;
    height: 282px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
}

.places__desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.places__name {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    letter-spacing: -1px;
    margin: 25px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.places__heart {
    width: 21px;
    height: 18px;
    border: 0px;
    background-color: rgba(0,0,0,0);
    background-image: url(../images/heart.svg);
    transition: opacity 0.25s ease-out;
    cursor: pointer;
}

.places__heart:hover {
    opacity: 0.5;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 581px;
        grid-template-columns: repeat(2, 282px);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 725px ) {
    .places {
        grid-template-columns: 282px;
        max-width: 282px;
        margin-top: 36px;
    }   
}