.profile {
    max-width: 880px;
    margin: 40px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile__avatar {
    min-height: 120px;
    min-width: 120px;
    background-color: white;
    background-image: url("../images/jacques-cousteau.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.profile__info {
    height: 77px;
    min-width: 320px;
    margin: 22px auto 22px 30px;
}

.profile__name {
    margin: 0px 0px 16px 0px;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    text-wrap: nowrap;
}

.profile__edit {
    width: 24px;
    height: 24px;
    transition: opacity 0.25s ease-out;
}

.profile__edit:hover {
    opacity: 0.5;
}

.profile__desc {
    margin: 0px 0px 0px 0px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
}

.profile__add {
    background-image: url("../images/addbutton.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 150px;
    height: 50px; 
    margin: auto 0px;
    transition: opacity 0.25s ease-out;
}

.profile__add:hover {
    opacity: 0.5;
}

@media screen and (max-width: 880px) {
    .profile__avatar {
        margin-left: auto;
    }
    .profile__info {
        margin-right: auto;
    }
    .profile__add {
        background-image: url("../images/addbutton_long.svg");
        margin: 15px auto 0px;
        min-width: 282px;
    }
}

@media screen and  (max-width: 725px) {
    .profile {
        display: flex;
        flex-direction: column;
    }
    .profile__avatar {
        margin: 0px auto;
    }
    .profile__info {
        margin: 22px auto 0px;
    }
    .profile__name {
        text-align: center;
    }
    .profile__desc {
        text-align: center;
    }
    .profile__add {
        margin: 36px auto 0px;
    }
}

@media screen and (max-width: 500px) {
    .profile__info {
        height: 50px;
        margin-top: 30px;
    }
    .profile__name {
        font-size: 22px;
        line-height: 26.63px;
    }
    .profile__desc {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
    .profile__edit {
        width: 16px;
        height: 16px;
        margin: auto 0px 0px;
    }
}